/*----------------------------------
  Global setting
------------------------------------*/
@font-face {
    font-family: SignPainter;
    src: url(../SignPainter-HouseScript.ttf);
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  color: #222;
  overflow-x: hidden;
  background-image: url("../images/map.png");
}
h4 {
  font-size: 22px;
  margin-bottom: 28px;
}
p {
  font-size: 22px;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #5000F1;
}

/*----------------------------------
  Side nav
------------------------------------*/


.navigation{
  z-index:10;
  position: fixed;
  right:30px;
  top:30%;
}


/*----------------------------------
  Home Section (section 1)
------------------------------------*/

/*background transport animation*/
@keyframes slideleft {
    0%{transform: translateX(-66.6666%); } 
}
@-webkit-keyframes slideleft {
  0%{transform: translateX(-66.6666%); } 
}

/*backgrounds are 85% screen high*/
.bg{
    height: 85vh;
    overflow: hidden;
    position: relative;

}
#bg2 {
    background-image: url('../images/background2.png');
    background-repeat: repeat-x;
    animation: slideleft 600s infinite linear;
    -webkit-animation: slideleft 600s infinite linear;
    width: 3000%;
    height: 85vh;
    position: absolute;
    background-size: auto 100%;
}
#bg1 {
    background-image: url('../images/background1.png');
    background-repeat: repeat-x;
    animation: slideleft 800s infinite linear;
    -webkit-animation: slideleft 800s infinite linear;
    width: 3000%;
    height: 85vh;
    position: absolute;
    background-size: auto 100%;

}
#bg3 {
    background-image: url('../images/background3.png');
    background-repeat: repeat-x;
    animation: slideleft 300s infinite linear;
    -webkit-animation: slideleft 300s infinite linear;
    width: 3000%;
    height: 85vh;
    position: absolute;
    background-size: auto 100%;

}

/*text & phone layer*/

.homesection{
  position: absolute;
  width: 100%;
  margin-left:-15px; 
  background-color: rgba(255,255,255,0.75);
  height: inherit;
}

/*our team*/
.homesection  a h2 {
  font-size: 15px;
  letter-spacing: 0.15em;
  margin-top: 30px;
  color: #022D41;
}
.homesection  a h2 span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.homesection  a:hover h2 span {
  color: #fff;
  margin-left: 10px;
}
.homesection .underline {
  margin-top: 10px;
  width: 46px;
  height: 6px;
  background: #00F1C9;
  margin-bottom: 20px;
}

.homesection .team a {
  display: inline-block;
  margin-top: 6px;
  margin-right: -70px;
  color: #fff;
  border-radius: 12px;
  font-size: 26px;
  letter-spacing: 0.2em;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.homesection .team a:hover {
  margin-top: 6px;
  margin-right: -80px;
  padding: 0px 10px;
}


/*left part - text*/
.homesection .text{
   position:absolute;
   padding-top: 15vh;
   
}

.homesection .app_name .logo{
   width: 20%;
}

.homesection .app_name{
   position:absolute;
   width: 100%;
   margin-left:-15px;
}

.homesection h1 {
  color: #1AA6B7;
  font-family: SignPainter;
  font-size: 96px;
  margin: 0 auto;
  text-align: center;
}

.homesection .text h2 {
  font-size: 15px;
  letter-spacing: 0.15em;
  margin-top: 10px;
}
.intro_text{
  width:80%;
  margin: 0 auto;
  color: #022D41;
}

/*right part - phone */

/*phone resize*/
.phone_size{
  width: 60%;
}


.may {
  margin-left: -15px;
  width: 100%;
  margin-top: 5px;
  position: absolute;

}
.may img{
  width: 45px;
  height:45px;
  -webkit-border-radius: 30px; /* Saf3+, Chrome */
  border-radius: 30px; 
  border: 3px solid #c7b89e;
  box-shadow: 1px 1px 2px #484848;
}

.bubble{
  height: 15vh;
}


/*----------------------------------
  Problem section 
------------------------------------*/
#section2{
  /*background-color: #DAECF3;*/
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
  padding-top: 15vh;
  
}

#section3{
  /*background-color: #DAECF3;*/
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
  padding-top: 15vh;
  
}
#section4{
  /*background-color: #DAECF3;*/
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
  padding-top: 15vh;
  
}
.MutipleAlert
{
  background-color: rgba(255,255,255,0.75);
  height: 70vh;
}
/*background transport animation*/
/*
@keyframes dawdling {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0%);}
}
@-webkit-keyframes dawdling {
  0% {transform: translateY(100%);}
  100% {transform: translateY(0%);}
}
*/

@keyframes dawdling {
    0%{transform: translateX(-100%); } 
}
@-webkit-keyframes dawdling {
  0%{transform: translateX(-100%); } 
}


#dressup {

    background-image: url('../images/dress-up.png');
    /*
    background-repeat: repeat-x;
    animation: dawdling 10s linear;
    -webkit-animation: dawdling 10s linear;*/
    width: 416vh;
    left: -416vh;
    position: absolute;
    height: 100vh;
    background-size: cover;
}

.dawdling{
    height: 100vh;
    overflow: hidden;
    position: relative;

}
#dawdling_text {
  top:10%; 
  left: -100%;
  z-index: 2;
  overflow: hidden;
  position: absolute;
}
.late{
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/*----------------------------------
  Footer
------------------------------------*/
footer
{
  margin-top: 300px;
  background-color: #022d41;
}
.line
{
  margin-top: 1em;
  margin-bottom: 1em;
  background-size: auto 100%;
  height: 100%;
  background-image: url('../images/line.png');
  background-repeat: repeat-x;
}
.line .text
{
  margin: 0 auto;
  background-color: rgba(2,45,65,0.5);
  color: #FCFAF2;
  text-align: center;
}

.line p
{
  padding-top: 2px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.line p a
{
  color: #FCFAF2;
}

footer .icon {
  padding-top: 3px;
  overflow: auto;
  display: table;
  margin: 0 auto;
}


footer .icon a {
  list-style-type: none;
  float: left;
}


footer .icon a i {
  background: #205D7A;
  color: #FCFAF2;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  margin-right: 10px;
  padding-top: 18%;
}

/*----------------------------------
  Background Grid
------------------------------------*/


.grid {
  position: fixed;
  width: 100%;
}
.white-background {
  overflow: hidden;
  background-color: rgba(255,255,255);
}




.fixed-top {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #00F1C9;
  border-radius: 12px;
  z-index: -1;
  margin-top: -220px;
  margin-left: 100px;
}


/*----------------------------------
  Main
------------------------------------*/

main,
.main {
  overflow: hidden;

}

.section {
  position: relative;

}



.absolute {
  position: absolute;
  width: 100%;
  height: auto;
  padding-top: 30px;
}
.absolute.above {
  z-index: 2;
}
.absolute h2 {
  font-size: 140px;
  font-weight: 900;
  letter-spacing: -0.04em;
  color: #F0F0F0;
  z-index: -1;
}





.lg-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  /*margin-left: -80px;*/
  margin-top: 200px;
}

.head2 {

  margin-top: 400px;
  /*position: absolute;*/
}
.xs-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.md-green {
  width: 120px;
  height: 120px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 10px;
}
.lg-purple {
  width: 80px;
  height: 80px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 60px;
}





.date {
  margin-top: 250px;
  font-size: 48px;
  font-weight: 600;
  color: #5000F1;
}
.temp {
  margin-top: 200px;
  font-size: 280px;
  font-weight: 900;
  letter-spacing: -0.07em;
  color: #5000F1;
}







.text-editor {
  background: #222;
  padding: 60px 50px;
  border-radius: 12px;
  margin-left: 15px;
}
code {
  text-align: left;
  padding: 0;
  font-size: 22px;
  background: none;
  border-radius: 0;
  color: #00F1C9;
}



.md-facebook {
  width: 60px;
  height: 60px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 68px;
  margin-top: 600px;
}
.md-twitter {
  width: 120px;
  height: 120px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 60px;
}
.md-dixonandmoe {
  width: 120px;
  height: 120px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 760px;
}
.bt-green {
  width: 60px;
  height: 60px;
  background: #00F1C9;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 700px;
}
.bt-purple {
  width: 80px;
  height: 80px;
  background: #5000F1;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 600px;
}

.share {
  position: relative;
  top: -240px;
}
.share a {
  font-size: 34px;
}
.share a span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a:hover span {
  margin-left: 10px;
}

a.dam,
a.dam:hover,
a.dam:active,
a.dam:visited {
  color: #222;
}

span.purple {
  color: #5000F1;
}
span.green {
  color: #A0F100;
}
span.white {
  color: #fff;
}


@-webkit-keyframes fuzz /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    /*-webkit-transform: scaleY(1);*/
    opacity: 1;
  }
}

@-webkit-keyframes fuzz2 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fuzz3 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





@-webkit-keyframes stretch /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}







/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {


}



/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {


}


/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {


}



