/*----------------------------------
  Global setting
------------------------------------*/
@font-face {
    font-family: SignPainter;
    src: url(../SignPainter-HouseScript.ttf);
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  text-rendering: optimizeLegibility;
  color: #222;
  overflow-x: hidden;
  
}
h4 {
  font-size: 22px;
  margin-bottom: 28px;
}
p {
  font-size: 22px;
}
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: #5000F1;
}


/*----------------------------------
  Side nav
------------------------------------*/

#dot-nav{    
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
}

#dot-nav ul {
  list-style: none;
  margin:0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border:3px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align:bottom;
}
#dot-nav li.active, #dot-nav li:hover {
  background-color: #1AA6B7;
}

#dot-nav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #1AA6B7; 
    color: #f5f5f5; 
    border: 1px solid #1AA6B7; 
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #1AA6B7;
}


/*----------------------------------
  background & scrolling lines
------------------------------------*/


.longbg {
  position: absolute;
  width: 100%;
  background-image: url("../images/background.png");
  background-position: center center;
  height: 450vh;
  background-size: auto 100%;
}

/*----------------------------------
  Running Lines
------------------------------------*/
.lines
{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 400vh;
}
.item {
  box-sizing: border-box;
      display: grid;
  width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  border: 0px ;
  transition: opacity 300ms ease;
  background-position: center center;
}

.item[data-invew="in"] {
  opacity: 1;
}

.item[data-inview="out"] {
  opacity: 0;
}
 
 
  
#i1
{background-image: url(../images/item1.png);
  height: 100vh;}
#i2
{background-image: url(../images/item2.png);
height: 25vh;}
#i3,#i4,#i5
{background-image: url(../images/item345.png);
height: 25vh;}
#i6,#i7,#i8,#i9,#i10
{background-image: url(../images/item678910.png);
height: 25vh;}
#i11
{background-image: url(../images/item11.png);
height: 25vh;}

/*----------------------------------
  avatar
------------------------------------*/
.avator{
  overflow: hidden;
}
.avatar .rellax{
  margin-left: -15px;
  width: 100%;
  height: 100%;
  margin-top: 5px;
  position: absolute;
  height: 100%;
}
.avatar .big img{
    height: 8vh;
    border-radius: 60px;
    border: 3px solid #3b5998;
    /*box-shadow: 1px 1px 1px #484848;*/
    opacity: 0.5;
}

.avatar .md img{
    height: 6.5vh;
    -webkit-border-radius: 30px;
    border-radius: 60px;
    border: 2px solid #3b5998;
    /*box-shadow: 1px 1px 1px #484848;*/
    opacity: 0.4;
}

.avatar .sm img{
    height: 5vh;
    -webkit-border-radius: 30px;
    border-radius: 60px;
    border: 1px solid #3b5998;
    /*box-shadow: 1px 1px 1px #484848;*/
    opacity: 0.3;
}

.may {
  top: 100vh;
}


.john {
  top: 100vh;
}

.josh{
  top: 110vh;
}
.june
{
top: 130vh;
}
.nani{
top: 155vh;
}
.macy{
top: 170vh;
}
.paul{
top: 195vh;
}
.kate {
  top: 205vh; 
}

.eric {
  top: 210vh; 
}

/*----------------------------------
  speech bubble
------------------------------------*/
.bubble {
}

.bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
}
.bubble .head {
  position: relative;
  line-height: 30px;
  width:  8vh;
  height: 8vh;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .2s color;
  transition: .2s color;
  border-radius: 60px;
}

.bubble .head .speakHeadY {
  width: 8vh;
  height: 8vh;
  border-radius: 60px;
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid #F2BB6E;

}

.bubble .bubbleTextY {

  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #F2BB6E;
  text-align: left;
  line-height: 20px;
  color: #484848;
  font-weight: 300;
  -webkit-transition: .5s all;
  transition: .5s all;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}

.bubble .head .speakHeadB {
  width: 8vh;
  height: 8vh;
  border-radius: 60px;
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid #4A90E2;

}

.bubble .bubbleTextB {

  position: relative;
  width: 0;
  height: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #4A90E2;
  text-align: left;
  line-height: 20px;
  color: #484848;
  font-weight: 300;
  -webkit-transition: .5s all;
  transition: .5s all;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}


.bubble .bubbletext span {
  width: 90%;
  opacity: 0;
  position: absolute;
  padding: 2.5% !important;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 2vh;
}


/*
.bubble{
  height: 15vh;
}

.bubble p
{
  margin:10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #484848;

}
#s1b{
  visibility:hidden;
}

.speech-bubbleL {
  position: relative;
  background-color: #00D7B4;
  border-radius: 2em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
  padding: 10px;
  box-shadow: 1px 1px 2px grey;
}

.speech-bubbleL:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-right-color: #00D7B4;
  border-left: 0;
  border-top: 0;
  margin-top: -9px;
  margin-left: -18px;
  width: auto;

}
.speech-bubbleR {
  position: relative;
  background-color: #00D7B4;
  border-radius: 2em;
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
  padding: 10px;
  box-shadow: 1px 1px 2px grey;
}

.speech-bubbleR:after {
  content: '';
  position: absolute;
  right: 2px;
  top: 50%;
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-left-color: #00D7B4;
  border-right: 0;
  border-top: 0;
  margin-top: -9px;
  margin-right: -18px;
  width: auto;

}
*/

/*----------------------------------
  Home Section (section 1)
------------------------------------*/
.main{
  overflow: hidden;
  /*height: 460vh;*/
}
/*background transport animation*/
@keyframes slideleft {
    0%{transform: translateX(-66.6666%); } 
}
@-webkit-keyframes slideleft {
  0%{transform: translateX(-66.6666%); } 
}

/*backgrounds are 100% screen high*/
.bg{
    height: 100vh;
    overflow: hidden;
    position: relative;

}
#bgSkyline {
    background-image: url('../images/background1.png');
    background-repeat: repeat-x;
    animation: slideleft 800s infinite linear;
    -webkit-animation: slideleft 800s infinite linear;
    width: 3000%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#bgVehicle {
    background-image: url('../images/background2.png');
    background-repeat: repeat-x;
    animation: slideleft 600s infinite linear;
    -webkit-animation: slideleft 600s infinite linear;
    width: 3000%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#bgTrain {
    background-image: url('../images/background3.png');
    background-repeat: repeat-x;
    animation: slideleft 300s infinite linear;
    -webkit-animation: slideleft 300s infinite linear;
    width: 3000%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;

}
#bgTransparent {
    background-image: url('../images/bg.png');
    background-position: center center;
    opacity: 0.6;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#bgPhone_lg {
    background-image: url('../images/phonebg_lg.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#bgPhone_sm_md {
    background-image: url('../images/phonebg_sm_md.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#bgPhone_xs {
    background-image: url('../images/phonebg_xs.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}


/*text & phone layer*/

.homesection{
  position: relative;
  width: 100%;

  /*background-color: rgba(255,255,255,0.5);*/
  height: 100vh;
}

/*our team*/
.homesection  a h2 {
  font-size: 1.8vh;
  letter-spacing: 0.15em;
  margin-top: 30px;
  color: #022D41;
}
.homesection  a h2 span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.homesection  a:hover h2 span {
  color: #fff;
  margin-left: 10px;
}
.homesection .underline {
  margin-top: 10px;
  width: 46px;
  height: 6px;
  background: #00F1C9;
  margin-bottom: 20px;
}

.homesection .team a {
  display: inline-block;
  margin-top: 6px;
  margin-right: -70px;
  color: #fff;
  border-radius: 12px;
  font-size: 26px;
  letter-spacing: 0.2em;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.homesection .team a:hover {
  margin-top: 6px;
  margin-right: -80px;
  padding: 0px 10px;
}


/*left part - text*/
.homesection .text{
position: absolute;
  top: 30%;

}

.homesection .app_name .logo{
  width: 10vh;
}

.homesection .app_name{
   position:absolute;
   width: 100%;
   margin-left:-15px;

}

.homesection h1 {
  color: #1AA6B7;
  font-family: SignPainter;
  font-size: 12vh;
  margin: 0 auto;
  text-align: center;
}

.homesection .text h2 {
  font-size: 1.7vh;
  letter-spacing: 0.15em;
  margin-top: 10px;
}
.intro_text{
  width:80%;
  margin: 0 auto;
  color: #022D41;
}


/*----------------------------------
  reminder section 
------------------------------------*/

#section2{
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
}

#reminder_bg {
    background-image: url('../images/reminder_bg.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#reminder_lg_hand {
    background-image: url('../images/reminder_lg_hand.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

#reminder_sm_md_hand {
    background-image: url('../images/reminder_sm_md_hand.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#reminder_xs_hand {
    background-image: url('../images/reminder_xs_hand.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

.reminder{
  position: relative;
  width: 100%;
  height: 100vh;
}

.reminder .text{
  position: absolute;
  top: 35%;
  background-color: rgba(255,255,255,0.75);

}

.reminder h1{
  padding-top: 5px;
  letter-spacing: 0.05em;
  color: #295ea4;
 font-family: 'Comfortaa', cursive;
 font-size: 4vh;
}
.reminder h2{
  letter-spacing: 0.05em;
  color: #ef6034;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
   font-size: 2.4vh;
}
.reminder p{

  font-size: 1.9vh;
  color: #484848;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}
.s2t{
  position: absolute;
  top: 20%;

}
.s2b{
  position: absolute;
  top: 75%;
}


/*----------------------------------
  map section 
------------------------------------*/
#section3{
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
}

#map_bg {
    background-image: url('../images/map_bg.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#map_lg_phone {
    background-image: url('../images/map_lg_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

#map_sm_md_phone {
    background-image: url('../images/map_sm_md_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#map_xs_phone {
    background-image: url('../images/map_xs_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

.map{
  position: relative;
  width: 100%;
  height: 100vh;
}

.map .text{
  position: absolute;
  top: 35%;
  padding-left: 20px;
  background-color: rgba(255,255,255,0.75);
}

.map h1{
  padding-top: 5px;
  letter-spacing: 0.05em;
  color: #295ea4;
 font-family: 'Comfortaa', cursive;
 font-size: 4vh;
}
.map h2{
  letter-spacing: 0.05em;
  color: #ef6034;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
   font-size: 2.4vh;
}
.map p{

  font-size: 1.9vh;
  color: #484848;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}
.s3t{
  position: absolute;
  top: 20%;

}
.s3b{
  position: absolute;
  top: 75%;
}


/*----------------------------------
  traffic section 
------------------------------------*/

#section4{
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
}


#traffic_bg {
    background-image: url('../images/traffic_bg.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#traffic_lg_phone {
    background-image: url('../images/traffic_lg_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

#traffic_sm_md_phone {
    background-image: url('../images/traffic_sm_md_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}
#traffic_xs_phone {
    background-image: url('../images/traffic_xs_phone.png');
    background-position: center center;
    margin-left: -15px;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: auto 100%;
}

.traffic{
  position: relative;
  width: 100%;
  height: 100vh;
}

.traffic .text{
  position: absolute;
  top: 25%;
  background-color: rgba(255,255,255,0.75);
}

.traffic h1{
  padding-top: 5px;
  letter-spacing: 0.05em;
  color: #295ea4;
 font-family: 'Comfortaa', cursive;
 font-size: 4vh;
}
.traffic h2{
  letter-spacing: 0.05em;
  color: #ef6034;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
   font-size: 2.4vh;
}
.traffic p{

  font-size: 1.9vh;
  color: #484848;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}
.s4t{
  position: absolute;
  top: 10%;

}
.s4b{
  position: absolute;
  top: 75%;
}




/*----------------------------------
  Section 5 Downloand
------------------------------------*/

#section5{
  margin-right:-15px; 
  margin-left:-15px;
  overflow: hidden;
  position: relative;
  height: 50vh;
}
.slogon{
    
}

.slogon h1
{

   color: #022D41;
   font-family: 'Comfortaa', cursive;
   text-align: center;
  font-size: 4.5vh;
}

.slogon .link img
{width: 18vw;}
/*
.goal img{
  visibility: hidden;
}*/

/*----------------------------------
  Footer
------------------------------------*/

footer
{
  margin-right:-15px; 
  margin-left:-15px;
  background-color: #022d41;
  height: 100%;
}
.line
{
  margin-top: 1em;
  margin-bottom: 1em;
  background-size: auto 100%;
  height: 100%;
  background-image: url('../images/line.png');
  background-repeat: repeat-x;
}
.line .text
{
  margin: 0 auto;
  background-color: rgba(2,45,65,0.5);
  color: #FCFAF2;
  text-align: center;
}

.line p
{
  padding-top: 2px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.line p a
{
  color: #FCFAF2;
}

footer .icon {
  padding-top: 3px;
  overflow: auto;
  display: table;
  margin: 0 auto;
}


footer .icon a {
  list-style-type: none;
  float: left;
}


footer .icon a i {
  background: #205D7A;
  color: #FCFAF2;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: 1em;
  text-align: center;
  margin-right: 10px;
  padding-top: 18%;
}





/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {


}



/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {


}


/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {


}



